span.post_method {
    background-color: #10a54a;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 50px;
    font-size: 0.7em;
    text-align: center;
    padding: 4px 0 4px;   
    border-radius: 2px;
}

.md-header {
    background-color: #546e7a;
}


.md-header-nav__button.md-logo * {
    display: block;
    background-image: url(\docs\img\hbslogo.png);
}


